<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">    <title><%= title %></title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/jquery-weui/dist/lib/weui.css">
    <link rel="stylesheet" href="/jquery-weui/dist/css/jquery-weui.css">
    <link rel="stylesheet" href="/assets/css/ace.css">
</head>
<body>

<div class="clearfix page-nav bg-info">
    <!--这里判断user是不是为空,若为空的话显示注册登录,不为空的话说明session没过期或没有quit-->
    <%if(user){%>
    <div class="pull-left nav-username">欢迎你,<%=user.UserId %>!</div>
    <%}else {%>

    <%} %>
</div>
<div class="main-container">
