<%- include header %>
<div class="text-center page-title">内推实习</div>
<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <form method="post">
                <%- message %>
                <div class="form-group">
                   <a href="/post/">发布内推</a>
                </div>
                <div class="form-group">
                   <a href="/detail/">查看内推</a>
                </div>
            </form>
        </div>
    </div>
</div>
<%-include footer %>