<%-include header%>
<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">公司名称</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="text"name="company" placeholder="请输入公司名称">
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">联系方式</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="text"name="email" placeholder="内推邮箱或其他联系方式">
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">联系方式</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="text"name="email" placeholder="内推邮箱或其他联系方式">
        </div>
    </div>

    <div class="weui_cell weui_cell_select">
        <div class="weui_cell_bd weui_cell_primary">
            <select class="weui_select" name="category">
                <option selected="" value="0">技术</option>
                <option value="1">经管</option>
            </select>
        </div>
    </div>
    </div>
    <div class="weui_cells_title">实习内容</div>
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <textarea class="weui_textarea" placeholder="请输入实习内容" rows="3"name="content"></textarea>
                <div class="weui_textarea_counter"><span>0</span>/200</div>
            </div>
        </div>
    </div>
    <div class='demos-content-padded' type="submit">
        <a href="#" class="weui_btn weui_btn_plain_default">检查后，确认发布</a>
    </div>
<%-include footer%>

