<%-include header%>
<form method="post" data-toggle="validator" role="form">

<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">公司名称</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input " type="text"name="company" placeholder="请输入公司名称"required>
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">联系方式</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="text"name="email" placeholder="内推邮箱或其他联系方式"required>
        </div>
    </div>
    <div class="weui_cell weui_cell_select">
        <div class="weui_cell_bd weui_cell_primary">
            <select class="weui_select" type="text" name="category">
                <option selected="" value="技术">技术</option>
                <option value="经管">经管</option>
            </select>
        </div>
    </div>
    </div>
    <div class="weui_cells_title">
        <h4>实习内容</h4>
    </div>
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <textarea class="weui_textarea" placeholder="请输入实习内容" rows="4"name="content"required></textarea>
            </div>
        </div>
    </div>
    <div class='demos-content-padded'>
        <button type="submit" class="weui_btn weui_btn_plain_default">提交</button>
    </div>
    </form>
<%-include footer%>
